.presentation-container {
  background-color: #fff;
  margin-bottom: 0px;
  padding: 2rem 2rem;
}

.align-center {
  text-align: center;
}

.presentation-subtitle {
  font-size: 23px;
  margin-bottom: 0;
  .spinner-saldo {
    margin-left: 10px;
    margin-bottom: 5px;
  }
}

.presentation-image {
  height: 290px;
  @media (max-width: 580px) {
    width: 290px;
    height: auto;
  }
}

.presentation-hash {
  color: gray;
}
