.navbar-container {
    background-color: #373A3C;
}

.navbar-title {
    color: #fff !important;
    font-weight: bold;
}

.navbar-title-margin {
    margin-left: -9px;
}

.navbar-description {
    margin-bottom: 0;
    font-size: 10px;
    color: #dedede;
    margin-left: 5px;
}

.navbar-beer-tech-logo {
    margin-right: 15px;
}

.beer-tech-logo-margin {
    margin-right: 15px;
}
