.outline-button {
    color: #FF8832;
    border-color: #FF8832;
    background-color: transparent;
}

.regular-button {
    color: #fff;
    font-weight: bold;
    background-color: #FF8832;
    border-color: #FF8832;
}

.cadastrar-button {
    width: 100px;
}