.footer-description {
  margin-bottom: 0;
  font-size: 10px;
  color: #dedede;
  margin-left: 5px;
}

.footer-title-margin {
  color: #fff;
  margin-left: -9px;
}

.footer-beer-tech-logo {
  margin-right: 15px;
}

.footer-container {
  background-color: #373a3c;
  width: 100%;
}
