.footer-description {
    margin-bottom: 0;
    font-size: 10px;
    color: #dedede;
    margin-left: 5px;
}

.footer-title {
    color: #fff;
    font-weight: bold;
    span {
        margin-left: -9px
    }
}

.footer-beer-tech-logo {
    margin-right: 15px;
}

.footer-container {
    background-color: #373A3C;
    width: 100%;
}