.card-image {
  max-height: 300px;
  object-fit: contain;
}
.card-bottom-wrapper {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  .product-price {
    font-weight: 600;
  }
}

.card-container {
  width: 300px;
  height: 100%;
  max-height: 600px;
}
