@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Roboto:wght@400;500&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
.modal-title {
  margin: 0;
  font-family: "Lora", Roboto, serif;
}

span,
button,
div,
p {
  font-family: Roboto, sans-serif;
}

.btn-primary {
  color: #fff;
  background-color: rgb(55, 58, 60) !important;
  border-color: rgb(55, 58, 60) !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgb(55, 58, 60) !important;
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.btn-outline-warning:focus:hover:active {
  color: rgb(255, 136, 50);
  border-color: rgb(255, 136, 50);
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.regular-button {
  color: #fff !important;
  background-color: #ff8832 !important;
  border-color: #ff8832 !important;
  box-shadow: none;
  text-decoration: none !important;
  &:hover {
    color: #fff !important;
    background-color: #ff8832 !important;
    border-color: #ff8832 !important;
    box-shadow: none !important;
    text-decoration: none !important;
  }
  &:focus {
    box-shadow: none !important;
    text-decoration: none !important;
  }
  &:active {
    box-shadow: none !important;
  }
}

.regular-outline-button {
  color: #ff8832 !important;
  border-color: #ff8832 !important;
  background-color: transparent !important;
  box-shadow: none;
  text-decoration: none !important;
  &:hover {
    color: #ff8832 !important;
    border-color: #ff8832 !important;
    background-color: transparent !important;
    box-shadow: none !important;
    text-decoration: none !important;
  }
  &:focus {
    box-shadow: none;
    text-decoration: none !important;
  }
  &:active {
    box-shadow: none !important;
  }

  &.voltar {
    width: 116px;
  }

  &.voltar-transf {
    width: 95px;
  }
}

.completed-table-container {
  text-align: center;
  padding: 10px 45px;
}

.resumed-table {
  span {
    text-align: center;
  }
}

.empty-table-text {
  width: 100%;
  margin-bottom: 20px;
}

.spinner-tables {
  width: 70px !important;
  height: 70px !important;
  margin-top: 50px;
}

.dropdown-item:active {
  background-color: #FF8832 !important;
  border-color: #FF8832 !important;
}
